.header{
    background-color: rgb(111, 110, 110);
    margin-left: 22%;
margin-top: -1%;
margin-right: -1%;
}
.spotify{
    background-color: black;
margin-top: -5%;
    margin-right: 78%;
    margin-left: -1%;
    
}
.home1{
    background-color: grey;
    display: flex;
    align-items: center;
    border-radius: 12px;
}
.home{
    display: flex;
    align-items: center;
}
.side1_names{
    color: white;
    display: inline;
    font-size: 18px;
    margin-left: 7%;
    font-family: "Roboto";
}
.side1_name1{
    color: white;
    display: inline;
    font-size: 18px;
    margin-left: 7%;
    margin-top: 63px;
    font-family: "Roboto";
}
.sidenames{
    margin-top: 7px;
}
.headerss{
    display: inline;
    font-size: 14px;
    
}